.navbar-dark, .bg-dark { 
    background-color: #526b7b !important;
}

.formNavSearch, .formNavSearch:focus, .formNavSearch:active {
	background-color: #8e999d;
	border-radius: 10px;
    z-index:50;
    margin-left: -20px;
    height: 70%;
	width: 120%;
}

input#inputTextNav[type=search], inputinput#TextNav[type=search]:focus, input#inputTextNav[type=search]:active {
	font-style: italic;
	color: #d8eaf1;
	box-shadow: none;
	-webkit-box-shadow: none;
	outline: none;
    border: none;
	padding-left: 25px;
}

input#inputTextNav[type="search"]::placeholder {
	font-style: italic;
	color: #d8eaf1;
}

.btn-Navbar1 {
    color: #d8eaf1;
    background-color: transparent !important;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid transparent;
}

.btn-Navbar1:hover, .btn-Navbar1:focus {
    color: #ad997d  ;
    background-color: transparent !important ;
	border: none ;
	outline: none ;
	box-shadow: none ;
	border-radius: 0;
	font-weight: bold;
	border-bottom: 2px solid #ad997d;
	border-right: 2px solid #ad997d ;
}

.btn-Navbar1:active, .btn-Navbar1.active {
    color: #ad997d ;
	font-style: solid;
    background-color: transparent !important;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-radius: 0;
	border-bottom: 2px solid #ad997d  ;
	border-right: 2px solid #ad997d ;
}

.btn-NavbarSearch, .btn-NavbarSearch:active, .btn-NavbarSearch:focus, .btn-NavbarSearch:hover{
    color: #526b7b;
    background-color: #ffffff !important ;
    border:none;
	width:40px;
	height:40px;
	border-radius: 30px;
    z-index:100;   
}


@media (min-width: 576px) {
    .abs-center-x {
        position: absolute;
	top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

#modalRegistration, {
	background-color: #526b7b30;
}

.modal-content {
	background-color: #526b7b !important;
	border-radius:10px;
}

.modal-body, .modal-footer, .moodal-header {
	background-color: #526b7b !important;
	border-radius:30px;
	border: none;
	
}

.col-sm, .col-sm-5{
	border: 1px solid black;
}

body {
	background-color: #8e999d;
}