.topNav{
  background: rgba(81, 107, 123, 0.5) !important;
  margin-bottom: 0.5%;
  z-index: 100;
}

.navbar-toggler{
  border-color: #d8eaf1 !important;
}

.navbar-toggler:hover,.navbar-toggler:active,.navbar-toggler.active,.navbar-toggler:focus{
  border-color: #d8eaf1 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(216, 234, 241, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

input#inputTextNav[type=search], inputinput#TextNav[type=search]:focus, input#inputTextNav[type=search]:active {
  font-style: italic;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  border: none;
}

input#inputTextNav[type="search"]::placeholder {
  font-style: italic;
}

.btn-Navbar {
  color: #d8eaf1;
  background-color: rgba(81, 107, 123, 0.5) !important;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid #ad997d ;
  margin-left: 30px;
}

.btn-Navbar:hover, .btn-Navbar:focus {
  color: #ad997d ;
  background-color: transparent !important;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0px;
  font-weight: bold;
  border-bottom: 2px solid #ad997d;
  border-left: 2px solid #ad997d;
}

.btn-Navbar:active, .btn-Navbar.active {
  color: #ad997d ;
  font-style: solid;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-radius: 0;
  border-bottom:70px solid #ad997d;
  border-left: 2px solid #ad997d;
}

@media (max-width: 576px) {
  .btn-Navbar {
    margin-top:10px;
    margin-right: 10px;
  }
  .modalSize {
    width: 90% !important;
  }
  .ul-user-info {
    padding-left: 10%;
    padding-top: 15%;
    text-align: left;
    }

  .ul-user {
      margin: 0;
      padding: 1%;
      text-align: right;
    }

    .wi-medium {
      font-size: 62px;
    }

    .piktogrammWUserDetail {
      padding-top: 10%;
    }

    .ul-user-info-detail {
      padding-left: 5%;
      padding-top: 10%;
      text-align: left
      }

    .btn-fav {
        margin: 5% 10% 5% 10%;
      }
}

@media (min-width: 576px) {
  .searchTop {
    width: 30%;
  }
  .formNavSearch {
    width:100% !important;
  }

  .sideNav {
    position: fixed;
    top: 30%;
    align-items: center;
    justify-content: center;
    padding: 2%;
  }

  .sideNavItem {
    margin-bottom: 25% !important;
  }

  .sideNavItem > svg:hover, svg:active, svg:focus{
    fill: #ad997d;
  }

  .sideNavItem:hover, .sideNavItem:active, .sideNavItem:focus {
    color:#ad997d;
    border: 2px solid #ad997d !important;
  }

  .modalSize {
    width: 80% !important;
  }

  .ul-user-info {
    padding-left: 25%;
    padding-top: 10%;
    }

  .ul-user-info-detail {
    padding-left: 0;
    padding-top: 0;
    }

  .ul-user {
      margin: 0;
      padding: 1%;
    }

    .wi-medium {
      font-size: 48px;
    }

    .piktogrammWUserDetail {
      padding-top: 5%;
      padding-bottom: 5%;
    }

    .btn-fav {
      margin: 25% 15% 0 15%;
    }
}

#modalRegistration, {
  background-color: #526b7b30;
}

.modal-content {
  background-color: #526b7b !important;
  border-radius:10px;
}

.modal-body, .modal-header {
  background-color: #526b7b !important;
  border-radius:30px;
  border: none;
}

.btn-modal1{
  color: #d8eaf1;
  border: none;
  background-color :#8e999d;
  border-radius: 7px;
  margin-right: 10px;
}

.btn-modal1:hover, .btn-modal1:focus, .btn-modal1:active, .btn-modal1.active {
  color: #d8eaf1;
  font-weight: bold;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-color: #565c5e !important;
  border-radius: 5px;
}

.panel {
  margin: 1%;
  padding: 0.25%;
  background: rgba(0, 0, 0, 0.3) !important;
  border-radius: 15px;
}

.panel-user {
  background: rgba(0, 0, 0, 0.3) !important;
  border-radius: 15px;
  margin: 1% 0% 1% 0 ;
  padding-top: 0.25%;
}


.favorit{
  margin: 10px;
  border: 1px solid black;
}

.modalFormLabel {
  color: #d8eaf1;
}

.modalRegTabBar {
  border: none;
}

.btn-fav {
  font-weight: bold;
  color: #d8eaf1;
  border: none;
  border-radius: 7px;
  background-color:rgba(81, 107, 123, 0.5);
}

.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover, .modalRegTabBar .nav-link, .modalRegTabBar .nav-link:hover{
  color: #d8eaf1;
  cursor: default;
  background-color: transparent;
  border: none;
  border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 2px solid #d8eaf1;
}

.nav-tabs>li>a:focus, .nav-tabs>li>a:hover, .modalRegTabBar .nav-link:hover{
  font-weight: bold;
}

.modalRegTabBar>li.active>a, .modalRegTabBar>li.active>a:focus, .nav-tabs>li.active>a:hover, .modalRegTabBar .nav-link.active {
  color: #d8eaf1;
  cursor: default;
  font-weight: bold;
  background-color: transparent;
  border-top-left-radius: 3px;
  border: 2px solid #d8eaf1;
  border-bottom:none;
}

.piktogrammWIndex {
  padding-top: 5%;
  padding-bottom: 5%;
}

.piktogrammWUser {
  padding-top: 15%;
  padding-bottom: 5%;
}

.wUserContainerL, .wUserContainerR {
  padding-bottom: 5%;
}

.sidebar {
  background: rgba(81, 107, 123, 0.5) !important;
}

.sideNavItem {
  margin: 2%;
  margin-top: 0px;
  padding: 1%;
  border: 2px solid #d8eaf1;
  border-radius: 10px;
}

.sideNavItem > svg:hover, svg:active, svg:focus {
  fill: #ad997d;
}

.sideNavItem:hover, .sideNavItem:active, .sideNavItem:focus {
  color: #ad997d;
  border:2px solid #ad997d;
}

.emptyLink {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.pac-container {
  z-index: 10000;
}

#actualPlace {
  margin-bottom: 5%;
}

.tempChart-container {
  width: 100vw;
  height: 35vh;
  padding: 1%;
}

ul {
  list-style: none;
}

.ul-index {
  margin: 0;
  padding: 1%;
}

.ul-info {
  padding-left: 0;
  padding-top: 20%;
}


.iconDiv {
  padding: 0 2% 0 0;
}

.wi, .i, a, p{
  color: #d8eaf1;
}

.wi-big {
  font-size: 72px;
}

.wi-xl {
  font-size: 100px;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #d8eaf1;
}

.error {
  font-weight: bold;
  color: #ad997d;
}
